.list{
  background-color: white;
  //display: flex;
}
.list > div{
  padding-bottom: 35px;
}
.list > div:first-child{
  //padding-right: 0;
}
.list > div:last-child{
  padding-right: 16px;
}
.grandTitleBox{
  font-family: 'SeoulHangangL';
  padding-left: 20px;
  width: calc(112px - 16px);  //112 - 16 = 96
}
.grandTitleBox > div:nth-child(1){
  font-size: 19px;
}
.grandTitleBox > div:nth-child(2){
  font-size: 27px;
  color: #000000;
  margin: 0 0 32px 0;
}
.cardBox{

}
.card{
  //border: 1px solid black;
  width: 156px;
  background-color: white;
  cursor: pointer;
}