.wrap{
  padding: 59px 0px 0px 20px;
  background-color: white;
  display: flex;
}
.grandTitleBox{
  font-family: 'SeoulHangangL';
  margin-right: 32px;
}
.grandTitleBox > div:nth-child(1){
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.grandTitleBox > div:nth-child(2){
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 0 0 32px 0;
}
.card{
  flex-grow: 1;
}

////상품정보 박스
//.cardContentBox{
//  padding-top: 14px;
//  padding-right:17px;
//}