@import "Color.module.scss";
.slide {
  background-color: white;
  border: 1px solid $color-secondary-light;
  position: relative;
  //animation-name: aniSlide;
  //animation-duration: 0.3s;
  //animation-fill-mode: forwards;
  //-webkit-animation-timing-function: ease-in;
  //-moz-animation-timing-function: ease-in;
  //-o-animation-timing-function: ease-in;
  //animation-timing-function: ease-in;
}

@keyframes aniSlide {
  //0% {opacity: 0;}
  //50% {}
  //100% {opacity: 100;}
}
