.grandTitle{
  font-family: SeoulHangangL;
  margin: 30px 16px;
}
.grandTitle > div:nth-child(1){
  font-size: 1.266rem;//19px;
}
.grandTitle > div:nth-child(2){
  font-size: 2.133rem;  //32px;
  line-height: 36px;
  display: flex;
}