/.idea/
/.gradle/
*.iml
.DS_Store
*/.DS_Store
/react-frontend/build/
/react-frontend/node_modules/
/springboot-backend/build/
/springboot-backend/out/
/truffle/build/
/truffle/node_modules/
/truffle5/build/
/truffle5/node_modules/
/springboot-backend/blocery-images/
/springboot-backend/blocery-thumbnails/
/springboot-backend/blocery-goodscontent/
/springboot-backend/blocery-foodscontent/
/springboot-backend/logs/

/userPhone/android
/userPhone/ios
/valuePhone/android
/valuePhone/ios
