@import "Color.module.scss";
@import "Font.module.scss";

.container{
  position: relative;
  color: white;
  flex-shrink: 0;      //다른 컨텐츠에 의해 찌그러지지 않도록 방지
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blyReview{
  //width: 50px;
  //height: 50px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.mask{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

//sold out 폰트 크기
.typeSm{
  font-size: $f12;
}
.typeMd{
  font-size: $f17;
}
.typeLg{
  font-size: $f26;
}
.typeXl{
  font-size: $f34;
}
.typeXxl{
  font-size: $f40;
}

//블리리뷰 아이콘 크기
.blyReviewSm{
  width: 30px;
  height: 30px;
}
.blyReviewMd{
  width: 40px;
  height: 40px;
}
.blyReviewLg{
  width: 50px;
  height: 50px;
}
.blyReviewXl{
  width: 60px;
  height: 60px;
}
.blyReviewXxl{
  width: 70px;
  height: 70px;
}

.timeTextLayer{
  background-color: $color-b2c-green;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 12.5px;
}
.timeTextLayer > div:nth-child(2){
  font-size:14px;
  font-weight:bold;
  margin-left: 5px;
  padding-bottom: 2px;  //세로 중앙정렬의 미세한 조정을 위해
}
.timeTextLayer > div:nth-child(3){
  font-size:11px;
  margin-left: 7px;
}