.wrap {

}
.wrap input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  background-color: white !important;
  padding: 0;
  //font-size: 0.9rem;
}

.wrap input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.kakao input:read-only {
  //border: none;
  //background: transparent;
  //background-color: white !important;
}

::placeholder {
  color: blue;
  font-size: 1em;
}