@import "Color.module.scss";
.wrap{
  height: 44px;
  display: flex;
  background: $color-info;
  color: white;
  align-items: center;
  position: relative;
}

.fixed {
  //position: fixed;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  //left: 0;
  //right: 0;
  z-index: 2;
}

.name{
  font-size: 1.2em;
  flex-grow: 1;
  text-align: center;
  flex-grow: 1;
}

.cart {
  position: absolute;
  right: 10px;
}