@import "Color.module.scss";
@import "Font.module.scss";

/* 삭제예정 */
.wrap{
  display: flex;
}

.hrBold {
  border: none;
  height: 1px;
  background-color: #888888;
}


//썸네일 이미지
.img {
  width: 5em;
  height: 5em;
  //object-fit: cover; //정사각형 crop
}
/* 삭제예정 END */


.flex{
  display: flex;}

.xs{font-size: 10px;}
.sm{font-size: 12px;}
.lg{font-size: 14px;}
.xl{font-size:16px;}
.xxl{font-size: 20px;}
.textGray{color: #929eb5;}
.textRight{text-align: right;}
.textBlack{color: #000000!important;}
.textGreen{color: #24855b!important;}
.lightLine{border: 0; border-top: 1px solid #efefef;}

.header{background-color: whitesmoke; display: flex; padding: 0 16px; align-items: center; height: 54px; font-size: 14px; border-top: 1px solid #e1e1e1;}
.header > div:nth-child(1){font-weight: bold;}
.header > div:nth-child(2){margin-left: auto;}
.bodyLayout{
  border-bottom: 1px solid #e1e1e1;
}
.body{
  margin: 16px;
}
.body .editRow{padding: 4px 0;}
.body .editRow > div:first-child{font-size: 12px; color: green; line-height: 20px;}

.body.goods > *{margin-bottom: 16px;}

/*상품 row*/
.body .goodsInfoBox{display: flex;}
/*이미지 박스*/
.body .goodsInfoBox > div:first-child{width: 74px; height: 74px; flex-shrink: 0; margin-right: 12px;}
/*상품명(정보) 박스*/
.body .goodsInfoBox .goodsNm{font-size: 14px; line-height: 19px; margin-bottom: 5px;}

.body .goodsInfoBox img{width: 100%; height: 100%; object-fit: cover;}
.body .goodsInfoBox .xs{font-size: 10px; color: #929eb5; line-height: 14px;}

.body .row{ display: flex; align-items: center; font-size: 12px; line-height: 20px;}
.body .row > div{min-height: 23px;}
.body .row > div:nth-child(1){color: #929eb5;}
.body .row > div:nth-child(2){color: black; margin-left: auto;}


.body.btnGroup > button{margin-bottom: 14px;}

