.wrap {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  height: 3.5em;
  overflow: auto;
  overflow-y: hidden;
}
.item {
  flex-shrink: 0;
  margin: 0.1em;
  display: flex;
  background-color: #8a8a8a;
  color: white;
  align-items: center;
  justify-content: center;
  height: 3.5em;
  width: 3.5em;
  border-radius: 10px;
}