@import "Color.module.scss";
@import "Font.module.scss";


.wrap{display: flex; width: 100%;}
.button{width: 42px; height: 42px; background-color: #ffffff; display: flex; align-items: center; justify-content: center;}
.wrap > input{border-radius: 0!important; height: 42px; width: calc(100% - 42px - 42px); border: 1px solid #e1e1e1; border-left: 0; border-right: 0; text-align: center; font-size: $f14; font-weight: bold;}
.button{border: 1px solid #e1e1e1; cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.button > svg{font-size: 20px; color: $color-b2c-dark; font-weight: bold;}
.button:active{background-color: $color-b2c-light;}
.wrap > div:first-child{border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.wrap > div:last-child{border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
