.circle {
  border-radius: 0px;
  border: 1px gray solid;
  width: 100px;
  height: 80px;
}

.centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 100px;
  height: 80px;
}