//@import "~bootstrap/dist/css/bootstrap"

//@import "~bootstrap/scss/variables";
//@import 'bootstrap/dist/css/bootstrap.min.css'
//@import "node_modules/bootstrap/scss/bootstrap.scss";

$color-info: #17a2b8;
$color-info-light: #13aabd;
$color-warning: #ffc107;
$color-dark: #343a40;
$color-light: #f8f9fa;
$color-cyan: #17a2b8;
$color-danger: #dc3545;
$color-secondary: #6c757d;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-steelblue:#4682B4;

//b2b
$color-primary:#4682B4;
$color-primary-light: #5eadef;

$color-shadow: #2f2f2f;
$color-noti: #dc3545;


$color-secondary-light: #e2e3e5;
$color-secondary-light-border: #d6d8db;

//$color-secondary

$text-small: small;


//#e2e3e5
//#d6d8db
