@import "./Color.module.scss";

//// Your variable overrides
//$body-bg: #000;
//$body-color: #111;

$theme-colors: (
 "info": $color-info,
 "primary": $color-primary,
);

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
