
/* 폰트 사이즈 */
$f10: 0.667rem;
$f11: 0.733rem;
$f12: 0.8rem;
$f13: 0.867rem;
$f14: 0.933rem;
$f15: 1rem;
$f16: 1.067rem;
$f17: 1.133rem;
$f18: 1.2rem;
$f19: 1.267rem;
$f20: 1.333rem;
$f21: 1.4rem;
$f22: 1.467rem;
$f23: 1.533rem;
$f24: 1.6rem;
$f25: 1.667rem;
$f26: 1.733rem;
$f27: 1.8rem;
$f28: 1.867rem;
$f29: 1.933rem;
$f30: 2rem;
$f31: 2.067rem;
$f32: 2.133rem;
$f33: 2.2rem;
$f34: 2.267rem;
$f35: 2.333rem;
$f36: 2.4rem;
$f37: 2.467rem;
$f38: 2.533rem;
$f39: 2.6rem;
$f40: 2.667rem;
$f41: 2.733rem;
$f42: 2.8rem;
$f43: 2.867rem;
