
/* 20px */
.f1 {font-size: 1.3333rem;}
/* 18px */
.f2 {font-size: 1.2rem;}
/* 16px */
.f3 {font-size: 1.0666rem;}

/* 15px */
.f4 {font-size: 1rem;}

/* 14px */
.f5 {font-size: 0.9333rem;}

/* 12px */
.f6 {font-size: 0.8rem;}

/* 11px */
.f7 {font-size: 0.7333rem;}

.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f16 {font-size: 16px;}
.f17 {font-size: 17px;}
.f18 {font-size: 18px;}
.f19 {font-size: 19px;}
.f20 {font-size: 20px;}